body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #2c3e50;
    color: #ecf0f1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    background: #34495e;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #e74c3c;
}

.container {
    text-align: center;
    padding: 50px;
    background: #34495e;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #c0392b;
}
